[submodule "configs/examples"]
	path = configs/examples
	url = git@github.com:eitanyaffe/makeshift-example-configs
[submodule "modules/metagenomics"]
	path = modules/metagenomics
	url = git@github.com:eitanyaffe/makeshift-metagenomic-modules.git
[submodule "modules/cloud"]
	path = modules/cloud
	url = git@github.com:eitanyaffe/makeshift-cloud-modules.git
[submodule "modules/utils"]
	path = modules/utils
	url = git@github.com:eitanyaffe/makeshift-util-modules.git
[submodule "pipes/metagenomics"]
	path = pipes/metagenomics
	url = git@github.com:eitanyaffe/makeshift-metagenomic-pipes.git
[submodule "makeshift-core"]
	path = makeshift-core
	url = https://github.com/eitanyaffe/makeshift-core.git
